body,
body.morning {
  // Dark
  --app-color-dark: #171a21;
  --app-color-dark-hsl: 222, 18%, 11%;
  --app-color-dark-contrast: hsl(240, 24%, 100%);
  --app-color-dark-contrast-hsl: 240, 24%, 100%;

  // Light
  --app-color-light: #ffffff;
  --app-color-light-hsl: 240, 24%, 100%;
  --app-color-light-contrast: hsl(0, 0%, 11%);
  --app-color-light-contrast-hsl: 0, 0%, 11%;

  --app-color-shell: #fff;

  --app-font-family-heading: 'PT Serif', serif;
  --app-font-family-body: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', Helvetica,
    'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';

  --app-outline-shadow: 0 0 0 4px hsla(var(--app-color-dark-hsl), 0.3);
}

body.night {
  // /* // Primary */
  // --app-color-primary: hsl(211, 100%, 50%);
  // --app-color-primary-hsl: 211, 100%, 50%;
  // --app-color-primary-contrast: hsl(240, 24%, 100%);
  // --app-color-primary-contrast-hsl: 240, 24%, 100%;

  /* // Dark */
  --app-color-dark: hsl(240, 24%, 100%);
  --app-color-dark-hsl: 240, 24%, 100%;
  --app-color-dark-contrast: hsl(0, 0%, 11%);
  --app-color-dark-contrast-hsl: 0, 0%, 11%;

  /* // Light */
  --app-color-light: #171a21;
  --app-color-light-hsl: 222, 18%, 11%;
  --app-color-light-contrast: hsl(240, 24%, 100%);
  --app-color-light-contrast-hsl: 240, 24%, 100%;

  --app-color-shell: #171a21;
}
